@import "./_style.scss";

.about {
    text-align: center;
    padding: 2rem 10rem;

    &__title {
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 1rem;
    }

    &__text {
        font-size: 1.5rem;
    }
}