@import "./_style.scss";

@import "./_style.scss";

.certificado {
    @include flx(center);
    flex-direction: column;
    width: 100%;
    
    &__title {
        font-size: 2rem;
        margin: 2rem 0;
        font-weight: 500;
        text-align: center;
    }

    &__container {
        @include flx(space-between);
        flex-wrap: wrap;
        padding: 0 10rem;
        width: auto;

        &__block {
            @include flx(center);
            flex-direction: column;
            align-items: center;
        
            width: max(30%, 200px);
            height: max(60vh, 400px);
            margin-bottom: 1.5rem;
            margin-right: 1.5rem;

            border: 2px solid $matriz-black;
            border-radius: 8px;

            &__subtitle {
                color: $matriz-black;
                font-size: 2rem;
                font-weight: bold;
            }
        
            &__text {
                text-align: center;
                color: $matriz-black;
                font-size: 1.5rem;
                padding: 0.6rem;
                &--small {
                    font-size: 0.8rem;
                }
            }

            &__price {
                font-size: 2rem;
                padding-top: 0.5rem;
                font-weight: bold;
            }
        }
    }
}