//hue, saturation and lightness
$nav-font-color: hsl(0, 19%, 11%);
$nav-font-color-dimmed: hsla(0, 9%, 75%, 0.424);
$body-font-color: hsl(0, 18%, 3%);
$matriz-red: hsl(2, 42%, 42%);
$matriz-red-dimmed: hsla(3, 29%, 46%, 0.52);
$matriz-black: hsl(7, 13%, 26%);
$matriz-white: hsl(0, 4%, 95%);

@mixin flx($jtf) {
    display: flex;
    justify-content: #{$jtf};
}

@mixin phone {
    @media screen and (max-width: 450px) {@content;}
}

@mixin tablet {
    @media screen and (max-width: 768px) {@content;}
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Hind', sans-serif;
    font-size: 62.5%;
    background-color: rgba(231, 227, 227, 0.418);
}
